@charset "utf-8";
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
	overflow:hidden;
	font-size: 12px;
}
body {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height:100%;
	background:#fff url(../images/NewLogin/NewLogin_bg01.jpg) no-repeat center center;
	position:relative;
	color: #666; font-size: 12px; font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; line-height: 20px; font-weight: normal
}
* {
	margin: 0px;
	padding: 0px
}
li{list-style: none}
form{margin: 0px}
img{border: 0px; float:left}
.clear{clear:both}
div,ul,li,dd,textarea,input,select{font-size: 12px; font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; color: #666; line-height: 20px}
input,textarea{outline:none; resize:none}

.login_box{ position:absolute; left:50%; top:50%; margin-left:-600px; z-index:2; margin-top:-270px; width:1200px; height:540px;}
.login_box01{float:left; width:1200px; height:540px; position:relative}

img.logo{ position:absolute; left:0; top:0; z-index:1}

a:link,a:active,a:visited{ text-decoration: none; color: #06c;}
a:hover {color: #06c; text-decoration: underline;}

.login_addBg{ position:absolute; right:40px; top:135px; width:400px; height:282px; z-index:998;
	background:url(../images/NewLogin/NewLogin_bg02.png) no-repeat left top}

.login_add{ position:absolute; right:70px; top:135px; width:350px; height:310px; z-index:999}
.login_add h2{float:left; width:100%; border-bottom:2px solid #c6cdda; height:45px; line-height:45px; color:#fff; text-align:center}
.login_add dl{float:left; width:350px; margin-top:20px}
.login_add dl dt{float:left; width:65px; margin-left:10px; color:#fff; height:30px; line-height:30px; font-size:15px}
.login_add dl dd{float:left}
.login_add dl dd.in{width:258px; height:28px; overflow:hidden; border:1px solid #e5e5e5;
	background:#fff;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;}
.login_add dl dd.curr{border:1px solid #65baff}

.login_add dl dd.in input{float:left; height:28px; line-height:34px; border:0px; margin-left:10px; display:inline; color:#b2b2b2; background:transparent; font-size:14px}
.login_add dl dd.user input{width:200px;}
.login_add dl dd.pass input{width:200px}

.login_add dl dd.yzm{width:100px; margin-right:10px; display:inline}
.login_add dl dd.yzm input{width:100px; text-align:center; margin:0px}


.login_add dl dd.yzmpic img{float:left; width:100px; height:28px;border:1px solid #7bc29c;
	background:#fff;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;}

.login_add dl dd.text{height:28px; line-height:14px; text-align:center; display:inline}
.login_add dl dd.text a{color:#fff}
.login_add dl dd.text a:hover{color:#fff; text-decoration:underline}

.login_add dl#yzm dd.text{width:50px}

.login_add dl.btn{ margin-top:25px; margin-left:10px; width:340px; display:inline}
.login_add dl.btn input{float:left; width:325px; height:32px; color:#fff; font-size:16px; line-height:32px; text-align:center; cursor:pointer; border:0px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#e35b1d
}
.login_add dl.btn input:hover{background:#cf490b}








