html{width:100%; height:100%; overflow:hidden}
body{font-family:"microsoft YaHei", arial;margin:0; padding:0; background: #1E2C47; font-size:14px; 
position:relative; width:100%; height:100%; overflow:hidden; color:#fff}
body.bodybg{ background:#1E2C47}
#content{
float:left; width:100%;
height:100%; background:#990;
overflow:hidden;
}
form{
	float:left;
	margin:0;
	padding:0;

}
li{list-style:none}
*{margin:0px; padding:0px}
.NrBox{float:left; padding:10px; overflow-x:hidden; overflow-y:auto}
.NrBox01{float:left; overflow-x:hidden; overflow-y:auto}
em{ font-style:normal}

/**wxd20171208**/
body {
   scrollbar-face-color: #008000;
   scrollbar-highlight-color: #0B0E2F;
   scrollbar-3dlight-color: #0B0E2F;
   scrollbar-darkshadow-color: #0B0E2F;
   scrollbar-shadow-color: #003366;
   scrollbar-arrow-color: #003366;
   scrollbar-track-color: #FFFFFF;}

input,textarea{outline:none; resize:none}

a.blue:link,a.blue:active,a.blue:visited{color:#48C6EF; text-decoration:none}
a.blue:hover{color:#fff}

a.orange:link,a.orange:active,a.orange:visited{color:#FF933E; text-decoration:none}
a.orange:hover{color:#fff}

a.blue01:link,a.blue01:active,a.blue01:visited{ text-decoration: none; color: #0B9FFF;}
a.blue01:hover {color: #06c; text-decoration: none;}

a.gray01:link,a.gray01:active,a.gray01:visited{ text-decoration: none; color: #999;}
a.gray01:hover {color: #999; text-decoration: none;}

.inbg{padding:0 10px 0 0; height:35px; border:1px solid #7D92C0; background:#1E2C47;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;}
.inbg input{float:left; padding-left:10px; background:transparent; border:0px; height:35px; line-height:35px; color:#B4C9EB}

input.data{width:90px; background:url(../images/icon_data.png) no-repeat right center}

input.w80{width:80px}
input.w100{width:100px}
input.w120{width:120px}
input.w150{width:150px}
input.w180{width:180px}
input.w200{width:200px}

.inbg textarea{float:left; padding-left:10px; background:transparent; font-family:"Microsoft YaHei"; width:100%; border:0px; line-height:20px; font-size:14px; overflow:auto; color:#B4C9EB}

span.dj{float:left; width:100%; height:20px}
span.dj01{ background:#008952}
span.dj02{ background:#7EDB64}
span.dj03{ background:#FFEF00}
span.dj04{ background:#E3181E}
span.dj05{ background:#323232}

.gybtn{float:left; height:35px; text-align:center; line-height:35px;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px; text-decoration:none; font-size:14px;}

.b_search{width:90px; border:1px solid #48C6EF; color:#fff; background:#48C6EF}
.b_search:hover{background:#20A6D2; border:1px solid #20A6D2; color:#fff}

.b_blue{width:120px; border:1px solid #48C6EF; color:#48C6EF}
.b_blue:hover{background:#48C6EF; color:#fff}

.b_orange{width:120px; border:1px solid #FF943B; color:#FF943B}
.b_orange:hover{background:#FF943B; color:#fff}

.con_search{float:left; width:100%; padding:5px 0 20px 0; margin-bottom:10px; border-bottom:1px solid #273758}
.con_search em.name{float:left; height:37px; color:#B4C9EB; font-size:18px; line-height:37px}
.con_search dl{float:right;}
.con_search dl dt{float:left; height:37px; margin-left:10px; line-height:37px}
.con_search dl dt.ts{ height:36px; line-height:18px}
.con_search dl dd{float:left; margin-left:10px}
.con_search dl dd.sbtn{margin:0 10px 0 15px}

/**表表格共用**/
.t_red{color:#f00}

.gylist{float:left; width:100%; overflow:hidden}

.gytable{float:left; width:100%;}
.gytable tr th{text-align:center; padding-top:10px; padding-bottom:10px; line-height:20px; font-size:13px; font-weight:normal; background:#30486A; color:#B4C9EB}
.gytable tr td{text-align:center; padding-top:10px; padding-bottom:10px; line-height:20px; white-space:normal; word-wrap:break-word; table-layout:fixed; word-break:break-all; font-size:12px; color:#D2D5DA}
.gytable tr td.star img{float:none; margin:0 2px}
.gytable tr th.w50{width:50px}
.gytable tr th.w250{width:250px}
.gytable tr td a.blue{margin:0 5px; display:inline}
.gytable tr td a.orange{margin:0 5px; display:inline}
.gytable tr td span{margin:0 5px; color:#fff; opacity:0.8;filter:alpha(opacity=80);}


.gytable01{border-right:1px solid #273758; border-top:1px solid #273758}
.gytable01 tr th,.gytable01 tr td{border-bottom:1px solid #273758; border-left:1px solid #273758; text-align:left; padding:8px 10px}
.gytable01 tr td.w85{width:85px; text-align:right}
.gytable01 tr td.w65{width:65px; text-align:right}

.gytable02{border-right:1px solid #273758; border-top:1px solid #273758}
.gytable02 tr th,.gytable02 tr td{border-bottom:1px solid #273758; border-left:1px solid #273758; text-align:center; padding:8px 0px}
.gytable02 tr td.w85{width:85px; text-align:right}

.gytable tr td.tdbg1{ background:#1E2C47}

.odd{background-color:#1E2C47}
.even{background-color:#23354F}
.over{background-color:#13243C}

.poptable{float:left; width:100%; border-right:1px solid #3D5171; border-top:1px solid #3D5171}
.poptable tr th{text-align:center; padding-top:10px; padding-bottom:10px; line-height:20px; font-size:13px; font-weight:normal; color:#fff;
border-bottom:1px solid #3D5171; border-left:1px solid #3D5171; text-align:center; padding:8px 10px}
.poptable tr td{text-align:center; padding-top:10px; padding-bottom:10px; line-height:20px; white-space:normal; word-wrap:break-word; table-layout:fixed; word-break:break-all; font-size:12px; color:#fff;
border-bottom:1px solid #3D5171; border-left:1px solid #3D5171; text-align:left; padding:8px 10px; text-align:center}
.poptable tr th.w50{width:50px}
.poptable tr td a.blue{margin:0 5px; display:inline}
.poptable tr td span{margin:0 5px; color:#fff; opacity:0.8;filter:alpha(opacity=80);}

.Cpage{float:left; width:100%; padding:30px 0}
.Cpage td.w220{width:220px; text-align:left; font-size:14px}
.Cpage td.w220 span{font-weight:bold; margin:0 3px}
.Cpage .pageA a{float:left; margin:0 2px; height:27px; line-height:27px; border:1px solid #3D5171; color:#B4C9EB; padding:0 10px; text-decoration:none;
-webkit-border-radius:2px;
   -moz-border-radius:2px;
        border-radius:2px;}
.Cpage .pageA a:hover{ background:#3D5171}
.Cpage .pageA a.curr{ background:#48C6EF; color:#fff; border:1px solid #48C6EF}
.Cpage .pageT{float:right}
.Cpage .pageT dl{float:right}
.Cpage .pageT dl dt{float:left; margin-right:5px; height:29px; line-height:29px; font-size:14px}
.Cpage .pageT dl dd{float:left; margin-left:10px}
.Cpage .pageT dl dd.inbg{height:27px}
.Cpage .pageT dl dd.inbg input{width:45px; height:27px; line-height:27px; text-align:center}
.Cpage .pageT dl dd a.gybtn{width:70px; height:27px; line-height:27px;
-webkit-border-radius:0px;
   -moz-border-radius:0px;
        border-radius:0px;}
		
/**共有select**/
.selectbg{float:left; height:35px; border:1px solid #7D92C0; background:#1E2C47; position:relative;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;}
.selectbg .options_curr{float:left;height:35px; padding-left:10px; line-height:35px; overflow:hidden; display:inline; font-size:13px; cursor:pointer; background:url(../images/icon_arrow_down01.png) no-repeat right center;
text-align:left; text-overflow:ellipsis; white-space:nowrap; color:#B4C9EB}
.selectbg .options{position:absolute; top:37px; border:1px solid #fff; background-color:#1E2C47; z-index:999;display:none;left:-1px;
overflow-x:hidden; overflow-y:auto;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;}
.selectbg .options li{float:left; height:30px; line-height:30px; padding-left:10px; text-align:left; color:#B4C9EB; display:inline; cursor:pointer}
.selectbg .options li.curr{background-color:#0D1F38;color:#fff}
.selectbg .options li:hover{background-color:#0D1F38;color:#fff}

.h210{height:210px}

.inbg01{border:1px solid #fff}

.wt70{width:70px}
.wt70 .options_curr{width:60px}
.wt70 .options{width:70px}
.wt70 .options li{width:60px}

.wt80{width:80px}
.wt80 .options_curr{width:70px}
.wt80 .options{width:80px}
.wt80 .options li{width:70px}

.wt100{width:100px}
.wt100 .options_curr{width:90px}
.wt100 .options{width:100px}
.wt100 .options li{width:90px}

.wt120{width:120px}
.wt120 .options_curr{width:110px}
.wt120 .options{width:120px}
.wt120 .options li{width:110px}

.wt150{width:150px}
.wt150 .options_curr{width:140px}
.wt150 .options{width:150px}
.wt150 .options li{width:140px}

.wt180{width:180px}
.wt180 .options_curr{width:170px}
.wt180 .options{width:180px}
.wt180 .options li{width:170px}

.wt200{width:200px}
.wt200 .options_curr{width:190px}
.wt200 .options{width:200px}
.wt200 .options li{width:190px}

.wt220{width:220px}
.wt220 .options_curr{width:210px}
.wt220 .options{width:220px}
.wt220 .options li{width:210px}

.wt120_ts{width:100px; height:26px; line-height:26px}
.wt120_ts .options_curr{width:90px; height:26px; line-height:26px}
.wt120_ts .options{width:100px; top:28px}
.wt120_ts .options li{width:90px}

/**共用的弹出层**/
#popMask{z-index:1001;width:100%; height:100%; background-color:#000;position:absolute;top:0;left:0;opacity:0.3;filter:alpha(opacity=30); display:none}
.popBox{position:absolute; z-index:1002; display:none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:#1E2C47}
.w400{width:400px}
.w500{width:500px}
.w600{width:600px}
.w800{width:800px}
.w1200{width:1200px}

.pop_add{float:left; width:100%; padding-bottom:10px}
.pop_add dl{float:left; width:100%; margin-top:15px}
.pop_add dl dt{float:left; height:37px; line-height:37px; color:#09c; font-weight:bold; font-size:14px; text-align:right; margin-right:10px; display:inline}
.pop_add dl dt span{margin-right:5px}
.pop_add dl dd{float:left; margin-right:10px; display:inline; font-size:14px; position:relative}
.pop_add dl dd.text{height:37px}
.pop_add dl dd.text div{ position:absolute; left:0px; top:0px; width:120px}
/*.pop_add dl dd.inbg{border:1px solid #ddd; background:#fcfcfc}
.pop_add dl dd.inbg input{background:#fcfcfc; color:#666}

.pop_add dl dd .selectbg{border:1px solid #ddd; background:#fcfcfc}
.pop_add dl dd .options_curr{color:#666; background:url(../images/icon_arrow_down_gray.png) no-repeat right center}

.pop_add dl dd .selectbg .options{border:1px solid #ddd; background-color:#fcfcfc}
.pop_add dl dd .selectbg .options li{color:#999}
.pop_add dl dd .selectbg .options li.curr{background-color:#09c;color:#fff}
.pop_add dl dd .selectbg .options li:hover{background-color:#09c;color:#fff}*/

.pw80 dl dt{float:left; width:80px}
.pw100 dl dt{float:left; width:100px}

.pop_btn{float:left; width:100%; padding:15px 0 20px 0}
.pop_btn a{float:left; width:120px; margin:0 10px}

.pop_detail{float:left; width:100%}
.pop_detail dl{float:left; width:100%; padding:8px 0; border-bottom:1px dotted #30486A}
.pop_detail dl.none01{border:0px}
.pop_detail dl dt{float:left; line-height:25px; color:#09c; font-weight:bold; font-size:14px; text-align:right}
.pop_detail dl dd{float:left; line-height:25px; color:#fff; text-align:left; font-size:14px;}
.pop_detail dl dd.starA{width:auto; height:30px; line-height:30px; margin-right:10px; color:#FFCC01}

.pd800 dl dt{width:120px}
.pd800 dl dd{width:280px}
.pd800 dl.none dd{width:680px}

.pd600 dl dt{width:120px}
.pd600 dl dd{width:480px}

ul.photo{float:left; width:100%}
ul.photo li{float:left; width:118px; height:118px; border:1px solid #ddd; overflow:hidden; margin-right:12px;
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;}
ul.photo li:hover{border:1px solid #09c}

/**弹出层共用的标题**/
h2.gytitle{float:left; width:100%; height:40px; position:relative; background:#30486A; text-align:center; color:#fff; font-size:16px; line-height:55px}
h2.gytitle em{float:left; margin-left:10px; height:40px; font-style:normal; line-height:40px; color:#fff; font-size:14px; font-weight:bold}
h2.gytitle span{position:absolute; cursor:pointer; right:8px; top:8px; width:24px; height:24px; font-size:0px; line-height:0px; background:url(../../images/close.png) no-repeat center center}
h2.gytitle span:hover{background:url(../../images/close_over.png) no-repeat center center}

.jt_tag{float:left; width:100%; margin-top:15px}
.jt_tag dl{float:left; width:20%}
.jt_tag dl.tagA{width:15%; cursor:pointer}
.jt_tag dl.tagB{width:12%; cursor:pointer}
.jt_tag dl dt{float:left; width:100%; position:relative; height:30px; border-bottom:1px solid #3D5171}
.jt_tag dl dt span{ position:absolute; left:50%; margin-left:-7.5px; top:20px; z-index:1;
width:20px; height:20px;
background:#3D5171;
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
}
.jt_tag dl.tagA:hover dd{color:#fff}
.jt_tag dl.tagA:hover dt span{ background:#E4E3E3}
.jt_tag dl dd{float:left; width:100%; height:50px; font-size:14px; line-height:50px; text-align:center}
.jt_tag dl.curr dt span{ background:#09c}
.jt_tag dl.curr dd{ color:#09c}
.jt_tag dl.curr:hover dt span{ background:#09c}
.jt_tag dl.curr:hover dd{ color:#09c}


/**智慧监控**/
.detail_btn{float:left; width:100%; position:relative; padding:20px 0}
.detail_btn div{float:right}
.detail_btn a{float:left; width:158px; margin-left:20px}

.yujing_detail{float:left; width:100%}
.yujing_detail dl{float:left; width:100%; margin-top:10px;}
.yujing_detail dl dt{float:left; width:85px; font-size:14px; line-height:37px}
.yujing_detail dl dt span{font-size:14px; margin-right:3px}
.yujing_detail dl dd{float:left;margin-right:30px; }

.shijian_detail{float:left; width:100%;}
.shijian_detail h2{float:left; width:100%; height:50px; line-height:50px; margin-top:10px; color:#B4C8E9; font-size:16px; font-weight:normal;
text-indent:10px;}
.shijian_detail dl{float:left; width:100%; margin-top:20px}
.shijian_detail dl dt{float:left; width:100px; margin-right:10px; text-align:right; font-weight:normal; height:37px; line-height:37px}
.shijian_detail dl dd{float:left; position:relative}
.shijian_detail dl dd span{ position:absolute; right:10px; top:0px; height:37px; line-height:35px; color:#fff}
.shijian_detail dl dd.btn{margin-top:6px}
.shijian_detail dl dd.btn a{height:25px; line-height:25px; width:60px}

ul.photoD{float:left; width:100%}
ul.photoD li{float:left; width:286px; height:240px; position:relative; overflow:hidden; margin-bottom:10px; margin-right:10px; border:1px solid #7D92C0; background:#1E2C47;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;}
ul.photoD li:hover{border:1px solid #fff}
ul.photoD li img{float:left; width:280px; height:234px; margin:3px;}
ul.photoD span{ position:absolute; right:5px; top:5px; width:20px; height:20px; background:url(../images/icon_delete_red.png) no-repeat center center; cursor:pointer}
ul.photoD span:hover{ background:url(../images/icon_delete.png) no-repeat center center}


/**智慧监控**/

/**评价**/
.fa_pingjia{float:left; width:100%}
.fa_pingjia h2{float:left; width:100%}
.fa_pingjia h2 em{float:left; width:100%; text-align:center; margin-top:30px; background:url(../../images/icon_ok.png) no-repeat center center; height:64px}
.fa_pingjia h2 span{float:left; width:100%; text-align:center; margin-top:20px; font-weight:normal; color:#fff}
.fa_pingjia dl{float:left; width:100%; margin-top:15px}
.fa_pingjia dl dt{float:left; width:240px; height:30px; color:#fff; font-size:14px; margin-right:10px; line-height:30px; text-align:right; margin-top:10px}
.fa_pingjia dl dd{float:left; margin-top:10px}
.fa_pingjia dl dd label{float:left; margin-top:8px; margin-right:30px}

.fenshuA{float:left; height:30px; line-height:30px; font-size:14px}
.star_score {float:left; background:url(../images/stark2.png); width:240px; height:30px;  position:relative; }
.star_score a{ height:30px; display:block; text-indent:-999em; position:absolute;left:0;}
.star_score a:hover{ background:url(../images/stars2.png);left:0;}
.star_score a.clibg{ background:url(../images/stars2.png);left:0;}

.fa_box{float:left; width:1010px; padding-bottom:10px; margin-bottom:10px;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;}
.fa_box h2{float:left; width:100%; height:50px; line-height:50px; text-align:left; margin-top:10px; color:#B4C8E9; font-size:16px; font-weight:normal}
.fa_box h2 em{float:left; margin-right:15px; margin-left:10px;}
.fa_box h2 span{float:left; height:36px; line-height:36px; margin-top:10px; overflow:hidden; margin-right:5px}
.fa_box h2 a{float:left}
.fa_box table{float:left; width:98%; margin-left:1%}
.fa_box h2.other{margin-top:0px; font-size:14px; color:#fff}
.fa_box h2.other em{margin-left:0px}
.fa_box h2 dl{float:left; margin-left:20px}
.fa_box h2 dl dt{float:left; margin-right:10px}
.fa_box h2 dl dd{float:left; margin-top:12px; margin-right:10px}
.fa_box h2 dl dd.btn a{height:25px; width:50px; line-height:25px}

.sytBox{float:left; width:100%; height:400px; overflow-x:hidden; overflow-y:auto}

.fapj{float:left; width:100%}
.fapj dl{float:left; width:90%; margin-left:2%}
.fapj dl dt{float:left; margin-right:15px}
.fapj dl dd{float:left; height:30px; line-height:30px; font-size:18px; color:#FFCC01; margin-right:5px}
.fapj dl.none{margin-top:10px;}
.fapj dl.none dd{float:left; width:100%; font-size:14px; color:#fff}

.fa_jy{float:left}
.fa_jy dl{float:left}
.fa_jy dl dt{float:left; margin-right:5px}
.fa_jy dl dd{float:left; height:28px; line-height:28px; font-size:14px; color:#fff; margin-right:5px}

.sj_pp{float:left; width:100%; height:50px; position:relative; margin-top:10px}
.sj_pp a.gybtn{ position:absolute; right:0px; top:0px}
.sj_pp em{float:left; width:100%; line-height:22px; color:#fff}
.sj_pp span{float:left; width:100%; line-height:22px; font-weight:bold}

.YDP_info{float:left}
.YDP_info dl{float:left; width:100%;}
.YDP_info dl.none{margin-top:10px}
.YDP_info dl dt{float:left; margin-left:10px;}
.YDP_info dl dt label{float:left; margin-top:10px}
.YDP_info dl dd{float:left; height:37px; line-height:37px; margin-left:10px}
.YDP_info dl dd.inbg{width:80px}

/**组织机构**/
li.jiedian{ position:relative}

li.jiedian dl{ position:absolute; right:-25px; top:0px; width:100px; height:50px; z-index:5; display:none}
li.jiedian dl dd{float:left; width:20px; height:20px; text-indent:-9999px; margin-right:5px}
li.jiedian dl dd.Iadd{ background:url(../../images/icon_add.png) no-repeat center center}
li.jiedian dl dd.Iedit{ background:url(../../images/icon_edit.png) no-repeat center center}
li.jiedian dl dd.Idelete{ background:url(../images/icon_delete_red.png) no-repeat center center}
li.jiedian span em{float:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; color:#fff}

li.jd01 span.TwoLabel{width:140px}
.OneLabel{width:100%}
.OneLabel:hover dl{ display:block; width:75px}

.TwoLabel{width:100%}
.TwoLabel em{width:130px}
.TwoLabel:hover dl{ display:block}

.ThreeLabel{width:100%}
.ThreeLabel em{width:120px}
.ThreeLabel:hover dl{ display:block}

.FourLabel{width:100%}
.FourLabel em{width:90px}
.FourLabel:hover dl{ display:block}

.FiveLabel{width:100%}
.FiveLabel em{width:90px}
.FiveLabel:hover dl{ display:block; width:75px}

.SixLabel{width:100%}
.SixLabel em{width:120px}
.SixLabel:hover dl{ display:block; width:75px}

li.jiedian span.OneLabel em{float:left; width:150px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/**组织机构**/

.onShow{font-size: 14px; line-height:37px;}
.onFocus{font-size: 14px; line-height:37px;}
.onError{font-size: 14px; line-height:37px;color:red;}
.onCorrect{font-size: 14px; line-height:37px;}
.onLoad{ font-size: 14px; line-height:37px;} 

/**wxd20171208**/

/**选择企业**/
#SelectJG{position:absolute; left:70px; bottom:0px; display:none; background:#fff; width:300px;
overflow-x:hidden; overflow-y:auto; background:#fcfcfc;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;
}

span.starF{float:left; width:162px; height:30px}
span.starF0{ background:url(../images/icon_star0.png) no-repeat left top}
span.starF1{ background:url(../images/icon_star1.png) no-repeat left top}
span.starF2{ background:url(../images/icon_star2.png) no-repeat left top}
span.starF3{ background:url(../images/icon_star3.png) no-repeat left top}
span.starF4{ background:url(../images/icon_star4.png) no-repeat left top}
span.starF5{ background:url(../images/icon_star5.png) no-repeat left top}
span.starF6{ background:url(../images/icon_star6.png) no-repeat left top}
span.starF7{ background:url(../images/icon_star7.png) no-repeat left top}
span.starF8{ background:url(../images/icon_star8.png) no-repeat left top}
span.starF9{ background:url(../images/icon_star9.png) no-repeat left top}
span.starF10{ background:url(../images/icon_star10.png) no-repeat left top}



















