@charset "utf-8";
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
	overflow:hidden;
	font-size: 12px;
}
body {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height:100%;
	background:#fcfcfc;
	position:relative;
	color: #fff; font-size: 12px; font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; line-height:20px; font-weight: normal
}
* {
	margin: 0px;
	padding: 0px
}
li{list-style: none}
form{margin: 0px}
img{border: 0px; float:left}
.clear{clear:both}
div,ul,li,dd,textarea,input,select{font-size: 12px; font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; color: #fff; line-height:20px}
input,textarea{outline:none; resize:none}

em{ font-style:normal}

*html .png {tmp:expression(setPng(this));}

.header{float:left; width:100%; height:65px; background:#273758 url(../images/logo.png) no-repeat 15px center; border-bottom:1px solid #3D5171;
position:relative}

.userInfo{ position:absolute; right:20px; top:12px}
.userInfo dl{float:left;}
.userInfo dl dt{float:left; width:40px; height:40px; overflow:hidden;
background:#E1F4FF;
-webkit-border-radius:20px;
   -moz-border-radius:20px;
        border-radius:20px;
}
.userInfo dl dd{float:left; position:relative; margin-left:15px}
.userInfo dl dd span{float:left; height:40px; line-height:40px; color:#fff; font-size:16px;
background:url(../images/icon_arrow_down.png) no-repeat right center; padding-right:30px}
.userInfo dl dd span.curr{background:url(../images/icon_arrow_up.png) no-repeat right center;}
.userInfo dl dd ul{ position:absolute; right:0px; top:40px; border:1px solid #7D92C0; background:#30486A;
width:110px; -webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;
}
.userInfo dl dd ul li{float:left; width:100%; height:36px; line-height:36px; text-indent:15px; color:#ffff; font-size:14px}
.userInfo dl dd ul li:hover{ background:#7D92C0}
.userInfo dl dd ul li a{color:#fff; text-decoration:none}

.YuJingInfo{ position:absolute; right:0px; bottom:-340px; width:400px; height:340px; background:#1E2C47;
opacity:0.9;filter:alpha(opacity=90); z-index:20}
.YuJingInfo h2{float:left; width:100%; height:40px; position:relative; background:#30486A}
.YuJingInfo h2 em{float:left; height:40px; line-height:40px; color:#fff; margin-left:15px; font-size:14px}
.YuJingInfo h2 span{position:absolute; cursor:pointer; right:8px; top:8px; width:24px; height:24px; font-size:0px; line-height:0px; background:url(../../images/close.png) no-repeat center center}
.YuJingInfo h2 span:hover{background:url(../../images/close_over.png) no-repeat center center}
.YuJingInfo dl{float:left; width:360px; margin:0 20px}
.YuJingInfo dl dt{float:left; width:100%; padding:25px; line-height:25px}
.YuJingInfo dl dd{float:left}
.YuJingInfo dl dd.text{width:100%; height:150px; text-indent:25px; line-height:25px}
.YuJingInfo dl dd.btn{margin-left:40px}
.YuJingInfo dl dd.btn a{float:left; width:120px; margin:0 10px; font-weight:bold}

.gybtn{float:left; height:35px; text-align:center; line-height:35px;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px; text-decoration:none; font-size:14px;}

.b_search{width:90px; border:1px solid #48C6EF; color:#fff; background:#48C6EF}
.b_search:hover{background:#20A6D2; border:1px solid #20A6D2; color:#fff}

.b_blue{width:120px; border:1px solid #48C6EF; color:#48C6EF}
.b_blue:hover{background:#48C6EF; color:#fff}

.b_orange{width:120px; border:1px solid #FF943B; color:#FF943B}
.b_orange:hover{background:#FF943B; color:#fff}




